/* ---------------------------------------------------
   ESTILOS GENERALES
--------------------------------------------------- */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/* ---------------------------------------------------
   NAVBAR
--------------------------------------------------- */
.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link{
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 1px;
}


/* ---------------------------------------------------
   HERO (portada grande)
--------------------------------------------------- */
.hero{
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


/* ---------------------------------------------------
   NOTICIAS (igualar tamaño de imágenes)
--------------------------------------------------- */
.noticia-img{
    width: 100%;
    height: 220px;
    object-fit: cover;     /* RECORTA para que todas queden iguales */
    border-radius: 5px;
}


/* ---------------------------------------------------
   RESPONSIVE (AJUSTES MÓVIL)
--------------------------------------------------- */
@media (max-width: 767px){

    /* Ocultar columnas grandes si hubiera tablas */
    .table td:nth-child(4),
    .table th:nth-child(4){
        display: none;
    }
}
